<div class="section3">
    <form class="row g-3" #formS3="ngForm" (ngSubmit)="onSubmit(formS3)">
        <div class="row">
            <div class="col">
                <label for="year" class="form-label">Year <span style="color:red">*</span></label>
                <input type="text" class="form-control" id="year" name="year" ngModel>
              </div>
              <div class="col">
                <label for="parent" class="form-label">Parent</label>
                <input type="text" class="form-control" id="parent">
              </div>
              <div class="col">
                  <label for="parent" class="form-label">Parent</label>
                  <input type="text" class="form-control" id="parent">
                </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="parent" class="form-label">Parent</label>
                <input type="text" class="form-control" id="parent">
              </div>
              <div class="col">
                <label for="former" class="form-label">Former</label>
                <input type="text" class="form-control" id="former">
              </div>
        </div>
        <div class="row">
            <label for="form" class="form-label">Form <span style="color:red">*</span></label>
            <div class="d-flex flex-row">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked ngModel>
                    <label class="form-check-label" for="gridRadios1">
                        First radio
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2" ngModel>
                    <label class="form-check-label" for="gridRadios2">
                        Second radio
                    </label>
                </div>
                <div class="form-check">
                <!-- <div class="form-check disabled"> -->
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" ngModel>
                    <!-- <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled> -->
                    <label class="form-check-label" for="gridRadios3">
                        Third disabled radio
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="{{other}}" ngModel>
                        Other (please specify): 
                    <!-- <input type="text" class="radio-text" id="other" [(ngModel)]="other"/> -->
                    <input type="text" class="radio-text" id="other" />
                </div>
            </div>
    </div>

    <div class="row my-3">
      <table class="table table-bordered" > 
        <thead class="table-header">
          <tr>
            <!-- Checkbox column -->
            <th scope="col" style="width:5%">Select recipient</th>

            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Company</th>
          </tr>
          
        </thead>
        <tbody>
          <tr *ngFor="let email of arrEmails; let i = index" class="table-cells">
            <th scope="row" class="text-center align-middle">
              <input class="form-check-input" type="checkbox" (change)="toggle(i)">
            </th>
            <td class="align-middle">{{ email.address }}</td>
            <td class="align-middle">{{ email.name }}</td>
            <td class="align-middle">{{ email.gender }}</td>
            <td class="align-middle">{{ email.company }}</td>
          </tr> 
        </tbody>
      </table>
    </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary" >Submit</button>
        </div>
      </form>
</div>
<button>
  <a [routerLink]="['/table']">to Table</a>
</button>
<button>
  <a [routerLink]="['/table']" [queryParams]="{firstParam:2, secondParam:'Bob'}">to Table w/ queryParams</a>
</button>

{{currentDate | date}}
<br>
{{currentDate | date:"medium"}}
<br>
{{formattedDate}}
<br>
{{dummyName}}