<div class="container" [formGroup]="form">
<!-- <div class="container" [formArrayName]="form"> -->
    <div formArrayName="questions">
        <div *ngFor="let question of getAllQuestions().controls; let idx=index;" >
            <!-- <div class="d-flex flex-row"> -->
            <div class="row">
                <div class="col-md-11">
                    <app-dynamic-entry [formGroupName]="idx"></app-dynamic-entry>
                    <!-- <div class="question-card p-2" [formGroupName]="idx">
                        <div class="row gx-3 py-2 label">
                            <div class="col-md-1">
                                Question: 
                            </div>
                            <div class="col-md-5">
                                <textarea class="form-control" cols="40" rows="3" formControlName="question"></textarea>
                            </div>
                            <div class="col-md-1">
                                Answer: 
                            </div>
                            <div class="col-md-5">
                                <textarea class="form-control" cols="40" rows="3" formControlName="answer"></textarea>
                            </div>
                        </div>
                        <hr class="label">
                    </div> -->
                </div>
                <div class="col-md-1">
                    <button type="submit" (click)="deleteSingleEntry(idx)">X</button>
    
                </div>
            </div>
        </div>
    </div>
    
    <button class="btn btn-primary" type="submit" (click)="addNewEntry()">Add</button>
    <button class="btn btn-warning" type="submit" (click)="displayForm()">Check Form</button>
</div>




