<div class="container" [formGroup]="form">
<!-- <div class="container" [formArrayName]="form"> -->
    <div formArrayName="questions">
        <div *ngFor="let question of getAllQuestions().controls; let idx=index;" >
            <!-- <div class="d-flex flex-row"> -->
            <div class="row">
                <div class="col-md-11">
                    <app-dynamic-entry [formGroupName]="idx" *ngIf="arrEntryTypes[idx] =='std'"></app-dynamic-entry>
                    <app-dynamic-entry-other [formGroupName]="idx" *ngIf="arrEntryTypes[idx] =='other'"></app-dynamic-entry-other>
                </div>
                <div class="col-md-1">
                    <button type="submit" (click)="deleteSingleEntry(idx)">X</button>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-around">
            <!-- <div class="col-md-6"> -->
                <button class="btn btn-primary" type="submit" (click)="addNewEntry()">Add Standard</button>
                <button class="btn btn-primary" type="submit" (click)="addNewEntryOther()">Add Other</button>
            <!-- </div> -->
        </div>
    </div>
    
    <button class="btn btn-primary" type="submit" (click)="addNewEntry()">Add</button>
    <button class="btn btn-warning" type="submit" (click)="displayForm()">Check Form</button>
</div>




