<!-- <table class="table table-dark table-borderless"> -->
<div class="d-flex" style="overflow-x: auto;">
    <table class="table table-dark table-bordered border-light">
        <thead>
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Decimal</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" class="table-active">Subheader</td>
            </tr>
            <tr>
                <td>C1</td>
                <td>0.35</td>
            </tr>
            <tr>
                <td>C2</td>
                <td>0.45</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-dark table-bordered border-light">
        <thead>
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Decimal</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" class="table-active">Subheader</td>
            </tr>
            <tr>
                <td>C1</td>
                <td>0.35</td>
            </tr>
            <tr>
                <td>C2</td>
                <td>0.45</td>
            </tr>
        </tbody>
    </table>
    
    <table class="table table-dark table-bordered border-light">
        <thead>
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Decimal</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" class="table-active">Subheader</td>
            </tr>
            <tr>
                <td>C1</td>
                <td>0.35</td>
            </tr>
            <tr>
                <td>C2</td>
                <td>0.45</td>
            </tr>
        </tbody>
    </table>
</div>    

<hr>
<div class="table-responsive-xxl">
    <table class="table table-dark table-bordered border-light">
        <thead>
            <tr>
                <th scope="col" style="min-width: 12em">Category</th>
                <th scope="col" style="min-width: 12em">Decimal</th>
                <th scope="col" style="min-width: 12em">Category</th>
                <th scope="col" style="min-width: 12em">Decimal</th>
                <th scope="col" style="min-width: 12em">Category</th>
                <th scope="col" style="min-width: 12em">Decimal</th>
                <th scope="col" style="min-width: 12em">Category</th>
                <th scope="col" style="min-width: 12em">Decimal</th>
                <th scope="col" style="min-width: 12em">Category</th>
                <th scope="col" style="min-width: 12em">Decimal</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="10" class="table-active">Subheader</td>
            </tr>
            <tr>
                <td>C1</td>
                <td>0.35</td>
                <td>C1</td>
                <td>0.35</td>
                <td>C1</td>
                <td>0.35</td>
                <td>C1</td>
                <td>0.35</td>
                <td>C1</td>
                <td>0.35</td>
            </tr>
            <tr>
                <td>C2</td>
                <td>0.45</td>
                <td>C2</td>
                <td>0.45</td>
                <td>C2</td>
                <td>0.45</td>
                <td>C2</td>
                <td>0.45</td>
                <td>C2</td>
                <td>0.45</td>
            </tr>
        </tbody>
    </table>
</div>

<hr>

<div class="d-flex">
    <div class="mb-0 py-0">
        <table class="table table-dark table-bordered border-light">
            <thead>
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Decimal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2" class="table-active">Subheader</td>
                </tr>
                <tr>
                    <td>C1</td>
                    <td>0.35</td>
                </tr>
                <tr>
                    <td>C2</td>
                    <td>0.45</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="table-responsive-xxl p-0">
        <table class="table table-dark table-bordered border-light">
            <thead>
                <tr>
                    <th scope="col" style="min-width: 12em">Category</th>
                    <th scope="col" style="min-width: 12em">Decimal</th>
                    <th scope="col" style="min-width: 12em">Category</th>
                    <th scope="col" style="min-width: 12em">Decimal</th>
                    <th scope="col" style="min-width: 12em">Category</th>
                    <th scope="col" style="min-width: 12em">Decimal</th>
                    <th scope="col" style="min-width: 12em">Category</th>
                    <th scope="col" style="min-width: 12em">Decimal</th>
                    <th scope="col" style="min-width: 12em">Category</th>
                    <th scope="col" style="min-width: 12em">Decimal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="10" class="table-active">Subheader</td>
                </tr>
                <tr>
                    <td>C1</td>
                    <td>0.35</td>
                    <td>C1</td>
                    <td>0.35</td>
                    <td>C1</td>
                    <td>0.35</td>
                    <td>C1</td>
                    <td>0.35</td>
                    <td>C1</td>
                    <td>0.35</td>
                </tr>
                <tr>
                    <td>C2</td>
                    <td>0.45</td>
                    <td>C2</td>
                    <td>0.45</td>
                    <td>C2</td>
                    <td>0.45</td>
                    <td>C2</td>
                    <td>0.45</td>
                    <td>C2</td>
                    <td>0.45</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<hr>

<div class="d-flex">
    <!-- <div > -->
        <table class="table table-dark table-bordered border-light">
            <thead>
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Decimal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2" class="table-active">Subheader</td>
                </tr>
                <tr>
                    <td>C1</td>
                    <td>0.35</td>
                </tr>
                <tr>
                    <td>C2</td>
                    <td>0.45</td>
                </tr>
            </tbody>
        </table>
    <!-- </div> -->
    
    <!-- <div class="table-responsive-xxl p-0"> -->
    <!-- <div style="overflow-x: auto;"> -->
        <!-- <table class="table table-dark table-bordered border-light" style="overflow-x: scroll;"> -->
        <table class="table table-dark table-bordered border-light table-responsive-xxl" style="overflow-x: scroll;">
            <thead>
                <tr>
                    <th scope="col" style="min-width: 12em">Category</th>
                    <th scope="col" style="min-width: 12em">Decimal</th>
                    <th scope="col" style="min-width: 12em">Category</th>
                    <th scope="col" style="min-width: 12em">Decimal</th>
                    <th scope="col" style="min-width: 12em">Category</th>
                    <th scope="col" style="min-width: 12em">Decimal</th>
                    <th scope="col" style="min-width: 12em">Category</th>
                    <th scope="col" style="min-width: 12em">Decimal</th>
                    <th scope="col" style="min-width: 12em">Category</th>
                    <th scope="col" style="min-width: 12em">Decimal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="10" class="table-active">Subheader</td>
                </tr>
                <tr>
                    <td>C1</td>
                    <td>0.35</td>
                    <td>C1</td>
                    <td>0.35</td>
                    <td>C1</td>
                    <td>0.35</td>
                    <td>C1</td>
                    <td>0.35</td>
                    <td>C1</td>
                    <td>0.35</td>
                </tr>
                <tr>
                    <td>C2</td>
                    <td>0.45</td>
                    <td>C2</td>
                    <td>0.45</td>
                    <td>C2</td>
                    <td>0.45</td>
                    <td>C2</td>
                    <td>0.45</td>
                    <td>C2</td>
                    <td>0.45</td>
                </tr>
            </tbody>
        </table>
    <!-- </div> -->
</div>