// Colour variables
$grey-1: #625F66;
$grey-2: #48454B;
$grey-3: #48454B;
$grey-4: #323035;


body {
    background-color: $grey-4;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }