<div class="question-card p-2" [formGroup]="questionForm">
    <div class="row py-2">
        <div class="col-md-1">
            Question: 
        </div>
        <div class="col-md-11">
            <textarea class="form-control" cols="40" rows="3" formControlName="question"></textarea>
            <!-- <p>{{questionForm.controls['question'].value}}</p> -->
        </div>
        
    </div>
    <div class="d-flex flex-row justify-content-between" formArrayName="answers" id="answers">
        <div *ngFor="let answerGroup of getAllAnswers().controls; let optionIdx=index; let firstOne=first">
            <div class="d-flex flex-row px-3"  [formGroupName]="optionIdx">
                <input class="form-check-input mx-1" type="radio" value="optionIdx" >
                <input class="form-control" type="text"  formControlName="answer">
                <button class="btn btn-danger" (click)="deleteOption(optionIdx)">X</button>           
            </div>
            <div *ngIf="firstOne">First one</div>    
        </div>
        <button type="submit" class="btn btn-secondary btn-sm" (click)="addInput()">Add Input</button>
        <button type="Answers" class="btn btn-warning btn-sm" (click)="showAnswers()">Show</button>
    </div>
    
   
    <hr class="label">
</div>
