<div class="question-card p-2" [formGroup]="questionForm">
    <div class="row">
        <div class="col-md-1">
            Question: 
        </div>
        <div class="col-md-11">
            <textarea class="form-control" cols="40" rows="3" formControlName="question"></textarea>
            <!-- <textarea class="form-control" cols="40" rows="3" formControlName="question" *ngIf="questionForm.controls['question'].value == ''"></textarea>
            <textarea class="form-control" cols="40" rows="3" formControlName="question" *ngIf="questionForm.controls['question'].value != ''" value="questionForm.controls['question'].value"></textarea> -->
            <p>{{questionForm.controls['question'].value}}</p>
        </div>
        
    </div>
    <div class="d-flex flex-row" >
        <div *ngFor="let answer of getAllAnswers().controls; let optionIdx=index; ">
            <div class="d-flex flex-row px-3" >
                <input class="form-check-input mx-3" type="radio" value="{{answer.value}}" formControlName="selectedAnswerMC">
                <input class="form-control" type="text" value="{{answer.value}}">            
            </div>
            
        </div>
    </div>
    
   
    <hr class="label">
</div>
